.container{
    
    width: 100%;
    background-color:#673AB7;
    padding:20px 0px ;
    display: flex;
    flex-direction: row-reverse;
}

.copyright{
    color: #fff;
    padding-right: 50px;
}


